.leaflet-container {
  width: 45vw;
  height: 80vh;
}

.scrollable-div {
  background-color: #f1f1f1;
  width: 45vw;
  height: 80vh;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}